.container {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}

.infoWrap {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.imgContainer {
  display: flex;
  flex-flow: column nowrap;
  margin: 20px 20% 0;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  width: 400px;
  height: 400px;
}