.imageContainer {
  display: flex;
  justify-content: center;
}

.imageContainer > img {
  cursor: pointer;
  margin-top: 20px;
  height: 250px;
  width: 250px;
}

.dialog {
  margin-top: -130px;
  position: 'absolute';
  padding: 0 300px;
  border: 0px;
  /* background: rgb(69, 65, 65); */
  background: linear-gradient(
    180deg,
    rgba(57, 55, 55, 0.598) 30%,
    rgba(16, 15, 15, 0.735) 100%
  );
}

.dialog > img {
  cursor: pointer;
  position: static;
  left: 12%;
  top: 10%;
  height: 35em;
  width: 35em;
}
