.imageContainer {
  display: flex;
  justify-content: center;
}

.imageContainer > img {
  margin-top: 20px;
  height: 250px;
  width: 250px;
}

.dialog > img {
  box-shadow: 0 8px 6px -6px black;
  position: static;
  left: 12%;
  top: 10%;
  height: 35em;
  width: 35em;
}
