.displayContainer {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  text-align: center;
  border: 1px solid black;
  height: 570px;
  width: 400px;
  margin: 20px 0;
  background-color: black;
}

.showButton {
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
  color: pink
}

.cover {
  position: absolute;
  margin: -120px 75px 0;
  height: 252px;
  width: 250px;
  background: rgba(0, 0, 0, 0);
}
