.displayContainer {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  text-align: center;
  border: 1px solid black;
  height: 500px;
  width: 350px;
  margin-top: 10px;
  background-color: black;
  border: 2px solid pink;
}

.showButton {
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
  color: pink
 
}
