.header {
    border-bottom: solid black 1px;
    padding: 20px;
    
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

span {
    height: 80px;
    width: 80px;
    background-color: grey;

}

.logo {
    display: flex;
    justify-content: space-around;
}

.companyName {
    color: black;
    text-decoration: none;
    padding-top: 20px;
    font-size: 40px;
    padding-left: 15px;
}

.companyName:hover {
    text-decoration: none;
    color: red;
}

.linksContainer {
    list-style-type: none;
    display: flex;
    margin-top: 1vmin;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -25px;
}

.linksContainer > li * {
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.linksContainer > li *:hover {
    text-decoration: none;
    color: red;
}
