.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.wrapper {
  height: 40%;
  width: 80%;
  justify-content: center;
  border: 1px solid black;
  padding: 20px;
  margin: 90px;
}

.images {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.info {
  text-align: left;
  display: flex;
 
  justify-content: space-evenly;
  justify-self: center;
}